---
import Button from "../Elements/Button.astro";

const { title, text, buttons } = Astro.props;
---

<div class="arrival">
  <div class="indent-me">
    <div id="arrival" class="anchor"></div>
    <h2>{title}</h2>

    <div set:html={text}></div>

    <div>
      {
        buttons.map((button) => (
          <Button href={button.href} linktext={button.text} />
        ))
      }
    </div>
  </div>
</div>

<iframe
  title="Google Map"
  width="100%"
  height="500"
  frameborder="0"
  scrolling="no"
  marginheight="0"
  marginwidth="0"
  src="https://maps.google.com/maps?&q='Bahnhofstrasse+1+8000+Z%C3%BCrich+Schweiz)+'&output=embed">
  <!-- src='https://maps.google.com/maps?&amp;q="{{
  orgameta.schema_street|url_encode }}+{{ orgameta.schema_no|url_encode }}+{{
  orgameta.schema_zip|url_encode }}+{{ orgameta.schema_city|url_encode }}+{{
  orgameta.schema_country|url_encode }})+"&amp;output=embed'>-->
</iframe>
