---
---

<div class="faq">
  <div id="faq" class="anchor"></div>
  <section class="indent-me">
    <h2>Fragen unserer Patient*innen</h2>

    <p>
      <br />
    </p>

    <details id="cat1-q1">
      <summary>
        <h3>Welche Kosten übernimmt meine Versicherung?</h3>
      </summary>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
          takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </div>
    </details>
    <details id="cat1-q1">
      <summary>
        <h3>Wie lange dauert eine kardiologische Erstabklärung?</h3>
      </summary>
      <div>
        <p>
          Ca. eine Stunde. Dies kann die Besprechung, eine Anamnese und erste
          diagnostische Test (z.B. <a
            href="/de/kompetenzen/kardiologische-diagnostik#textpic-3-4">TTE</a
          >, <a href="/de/kompetenzen/kardiologische-diagnostik#textpic-3-1"
            >Ruhe-EKG</a
          >, <a href="/de/kompetenzen/kardiologische-diagnostik#textpic-3-3"
            >Belastungs-EKG</a
          >) beinhalten, deren Resultate umgehend besprochen werden
          können.&nbsp;
        </p>

        <p>
          Mehr zum Ablauf einer <a
            href="/de/kompetenzen/kardiologische-erstabklaerung"
            >kardiologischen Erstabklärung</a
          >.
        </p>
      </div>
    </details>
    <details id="cat1-q1">
      <summary>
        <h3>Was muss ich zur kardiologischen Erstabklärung mitnehmen?</h3>
      </summary>
      <div>
        <p>
          Nehmen Sie bitte Ihre Versichertenkarte und alle die Ihnen
          vorliegenden Berichte aller Ärzte mit.
          <br />
          <br />Mehr lesen über die <a
            href="/de/kompetenzen/kardiologische-erstabklaerung"
            >kardiologische Erstabklärung</a
          >.
        </p>
      </div>
    </details>
    <details id="cat1-q1">
      <summary>
        <h3>Was muss ich beim ersten Besuch beachten?</h3>
      </summary>
      <div>
        <p>
          Wenn Sie zum ersten Mal zu uns kommen, kommen Sie bitte 10 Minuten
          früher, damit Sie die Formalitäten mit uns erledigen können.
        </p>

        <p>
          Mehr lesen über die <a
            href="/de/kompetenzen/kardiologische-erstabklaerung"
            >kardiologische Erstabklärung</a
          >.
          <br />
          <br />
          <br />
        </p>
      </div>
    </details>
  </section>
</div>
