---
---

<div class="intro">
  <div id="intro" class="anchor"></div>

  <div class="introvisual">
    <picture>
      <source
        type="image/webp"
        media="(max-width: 280px)"
        srcset="http://d4dess.test/imageresize/a29b1e5379fea778d58047416d6906e09b8e8e68a29d38c329aac44392135cb5.webp,
                                                                         http://d4dess.test/imageresize/52ac88ed978483f8077965f358427ac9b1fa74ed3128587e1d29136da7ed8de7.webp 2x"
      />

      <source
        type="image/jpg"
        media="(max-width: 280px)"
        srcset="http://d4dess.test/imageresize/28aa44c32c1c9501094199ce3df3e7424ce4b82d3ea4bbae140fda60e5d180c7.jpg,
                                                                        http://d4dess.test/imageresize/2b62b7eaf44afdf60a3c643315d7e21f14b3ebf9d78fb05d71d20b7b39d4eb12.jpg 2x"
      />

      <source
        type="image/webp"
        media="(max-width: 320px)"
        srcset="http://d4dess.test/imageresize/c3b717cf141f422cf9583bfa02c3355fd2a0735f6907753f7e7566b136f41a16.webp,
                                                                         http://d4dess.test/imageresize/e0e64204d100705a2f11d2372d7fe48d8957c78046c4d3eb2e9018909708d388.webp 2x"
      />

      <source
        type="image/jpg"
        media="(max-width: 320px)"
        srcset="http://d4dess.test/imageresize/120b12710d157c19278a58e16738d705473e80c0a0fa95b4d22f2d83af5572d2.jpg,
                                                                        http://d4dess.test/imageresize/c24205748380225a2f2849b8a305123fccbbe05df986431ea4fe25a718aecd7a.jpg 2x"
      />

      <source
        type="image/webp"
        media="(max-width: 360px)"
        srcset="http://d4dess.test/imageresize/dc058537e75e344084590aeeb8c59422123def0ed4f1085ae04307e7ca8865f4.webp,
                                                                         http://d4dess.test/imageresize/172f74fb5f2c17be634d8f3fc63e9d1a170bd8e218dac251e6c621095ed127b3.webp 2x"
      />
      <source
        type="image/jpg"
        media="(max-width: 360px)"
        srcset="http://d4dess.test/imageresize/1c9edcd1d4225e1869d1658e819bad8dc17a81b8a23fcb8955c6cb06f8e031be.jpg,
                                                                        http://d4dess.test/imageresize/821880d2ef343847d67ce9a89d59fbf80c462f7f6e550d7741d2fa2cfd779f2c.jpg 2x"
      />

      <source
        type="image/webp"
        media="(max-width: 567px)"
        srcset="http://d4dess.test/storage/app/media/imageresizecache/d8e/33d/8e5/d8e33d8e5c11d2245c0a9cb040bc84f19b8b345d57201d981a7f1164ecf97f67.webp,
                                                                         http://d4dess.test/storage/app/media/imageresizecache/5e7/9d6/f0c/5e79d6f0ca91c6f1a81c542485004ee5d1d45715ba42133962171662be139808.webp 2x"
      />
      <source
        type="image/jpg"
        media="(max-width: 567px)"
        srcset="http://d4dess.test/imageresize/0064e33064ae57cc5e64885aec7823e1eaaea2b07f3b0ee64e5a8afa55ce7f48.jpg,
                                                                        http://d4dess.test/imageresize/561388f6d6c10bba8612f2fd4e46e60d1aa7adc28f2fc8c11f34ea38c5d5be3a.jpg 2x"
      />

      <source
        type="image/webp"
        media="(max-width: 768px)"
        srcset="http://d4dess.test/storage/app/media/imageresizecache/849/a9a/bbe/849a9abbe1aac232e056a3188d6f334bb11bf701b1a3f86352f5b5739cb1ef91.webp,
                                                                         http://d4dess.test/storage/app/media/imageresizecache/684/1e8/705/6841e87053fc36cfbc0352ea06d2d49513b740769a8f74d3a0b551f891c93b85.webp 2x"
      />
      <source
        type="image/jpg"
        media="(max-width: 768px)"
        srcset="http://d4dess.test/imageresize/14748c61ef7cc77ea727656ed429743a0e52fddb120998fc9c4cceb3410132de.jpg,
                                                                        http://d4dess.test/imageresize/196697d097bb20171b7a6935b98925a12bc9a77564c5a7222b16b56e23c8cf57.jpg 2x"
      />

      <source
        type="image/webp"
        media="(max-width: 1024px)"
        srcset="http://d4dess.test/storage/app/media/imageresizecache/cb3/3b8/47e/cb33b847e3238b0b660955e233c299be705c5e5a3c5f1df028e4d4ff25e12245.webp,
                                                                          http://d4dess.test/storage/app/media/imageresizecache/a79/d27/acd/a79d27acdd5f77c523efa4eca78513f86f2e6cb19a1eea33e67749dc77329771.webp 2x"
      />
      <source
        mtype="image/jpg"
        media="(max-width: 1024px)"
        srcset="http://d4dess.test/imageresize/7799229e8b6f2b28b54a750ecbf44d4ae377c83a7815013ec2e69427c3d16b79.jpg,
                                                                          http://d4dess.test/imageresize/894344409892016ca316628c0510bdb3560725fd5f3ab0f20e55f6c3c6fd2006.jpg 2x"
      />

      <source
        type="image/webp"
        media="(max-width: 3600px)"
        srcset="http://d4dess.test/storage/app/media/imageresizecache/8b5/1e7/298/8b51e7298f2d337f18faccf70b79ac89c0bf3c43cc1a1fe17baf387ced025e9a.webp,
                                                                          http://d4dess.test/storage/app/media/imageresizecache/2e2/fa8/6c4/2e2fa86c400bced6b56c2381c88c647313075dec91dc032a171feb64a15c850b.webp 2x"
      />
      <source
        type="image/jpg"
        media="(max-width: 3600px)"
        srcset="http://d4dess.test/imageresize/42b409ffd75778f8708e3404068fa9f8a552e1e11b140a4404eff975350771a7.jpg,
                                                                         http://d4dess.test/imageresize/948265ac5d0eca2c186945aa09abeff3a413fdb0b5ba4f8fd1ca43a86030addd.jpg 2x"
      />

      <img
        type="image/jpg"
        src="http://d4dess.test/imageresize/6e5178bd210491d841aa6920cfdc896ba6e9788a8ad0b60492814805735a05e6.jpg"
        alt="Keyvisual"
        width="1440"
        height="560"
      />
    </picture>

    <div class="overlay indent-me">
      <h1>
        Am richtigen Ort:
        <br />Familien- und Kinderpraxis Mustermann
      </h1>
    </div>
  </div>
  <div class="introtext indent-me">
    <p>
      Die sympathische Hausarzt-Praxis an der Bahnhofstrasse hilft seit 3
      Jahrzehnten Gross und Klein bei Gesundheitsbeschwerden, Prävention und
      genereller Gesundheitsbegleitung.&nbsp;
    </p>

    <p><strong>Willkommen!</strong></p>
  </div>
</div>
