<div class="practice">
  <div id="practice" class="anchor"></div>
  <section class="indent-me">
    <h2>Unsere Praxis</h2>

    <p>
      Unsere klimatisierte, gepflegte Praxis verfügt über modernste Diagnostik,
      ein Labor für die häufigsten Tests, zwei Behandlungszimmer und ein
      Wartezimmer, das auch Ihren Kindern die Wartezeit spielend verkürzt. <strong
        >Unser Team freut sich, Sie kennenzulernen.</strong
      >
    </p>

    <div id="gallery-1" class="gallery">
      <div class="indent-me">
        <ul class="lb-album">
          <li>
            <a href="#image-1-1" title="Zusammen">
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/aaf/86c/388/aaf86c38844ca846f190844dbff5f91b60e6b9823ce302257155046b057ecdeb.webp"
                />
                <source
                  type="image/jpg"
                  srcset="http://d4dess.test/imageresize/ee5e1a2d1d914b33a6a1ce1949b5d76ed98c3025ce7dcb5c0f7ab18a57cb9ae5.jpg"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/imageresize/ee5e1a2d1d914b33a6a1ce1949b5d76ed98c3025ce7dcb5c0f7ab18a57cb9ae5.jpg"
                  class=""
                  alt="Zusammen"
                  width="150"
                  height="120"
                  loading="lazy"
                />
              </picture>
            </a>

            <div class="lb-overlay" id="image-1-1">
              <div class="controls">
                <a href="#image-1-2"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-right"
                    class="svg-inline--fa fa-angle-double-right fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z">
                    </path>
                  </svg>
                </a>
                <a href="#page"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="window-close"
                    class="svg-inline--fa fa-window-close fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                      fill="currentColor"
                      d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z">
                    </path>
                  </svg>
                </a>
              </div>
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/463/651/84f/46365184f28b9ea8d2a1f69d785707a81f0302ec75db26d78fe034cb1f3f3a67.webp"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/storage/app/uploads/public/633/1c8/f00/6331c8f00b57f676567702.jpg"
                  class=""
                  alt="Zusammen"
                  width="auto"
                  height="auto"
                  loading="lazy"
                />
              </picture>
              <div class="info">
                <h3>Zusammen</h3>
                <p>Patienteninformation wird bei uns hochgeschrieben</p>
              </div>
            </div>
          </li>
          <li>
            <a href="#image-1-2" title="Empfang">
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/540/dc2/049/540dc20492881f67c2932bfce089b1301abc5cd068791c1f16a401b73c529315.webp"
                />
                <source
                  type="image/jpg"
                  srcset="http://d4dess.test/imageresize/4379394af613badbcb4ca10d07dbe07d53bb851683a805c18f2a19d5145ab513.jpg"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/imageresize/4379394af613badbcb4ca10d07dbe07d53bb851683a805c18f2a19d5145ab513.jpg"
                  class=""
                  alt="Empfang"
                  width="150"
                  height="120"
                  loading="lazy"
                />
              </picture>
            </a>

            <div class="lb-overlay" id="image-1-2">
              <div class="controls">
                <a href="#image-1-1"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-left"
                    class="svg-inline--fa fa-angle-double-left fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z">
                    </path>
                  </svg>
                </a>
                <a href="#image-1-3"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-right"
                    class="svg-inline--fa fa-angle-double-right fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z">
                    </path>
                  </svg>
                </a>
                <a href="#page"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="window-close"
                    class="svg-inline--fa fa-window-close fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                      fill="currentColor"
                      d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z">
                    </path>
                  </svg>
                </a>
              </div>
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/e31/2a9/941/e312a9941ebbe054fae5214e34d9d2969d47fc966cc1ec90cf06c2ddb674e87c.webp"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/storage/app/uploads/public/633/1c8/f04/6331c8f04da55856034857.jpg"
                  class=""
                  alt="Empfang"
                  width="auto"
                  height="auto"
                  loading="lazy"
                />
              </picture>
              <div class="info">
                <h3>Empfang</h3>
                <p>per Telefon, Mail und vor Ort für Sie da</p>
              </div>
            </div>
          </li>
          <li>
            <a href="#image-1-3" title="Warteraum">
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/7cf/e5a/672/7cfe5a672cffcc5c92c94472a45a474f4b42b6d3e5f42405b54e23efb84ef86d.webp"
                />
                <source
                  type="image/jpg"
                  srcset="http://d4dess.test/imageresize/a14cf1b741d5b841e14b9cbb608fddc8f3b2e82ff4b08488fc716567aa96817b.jpg"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/imageresize/a14cf1b741d5b841e14b9cbb608fddc8f3b2e82ff4b08488fc716567aa96817b.jpg"
                  class=""
                  alt="Warteraum"
                  width="150"
                  height="120"
                  loading="lazy"
                />
              </picture>
            </a>

            <div class="lb-overlay" id="image-1-3">
              <div class="controls">
                <a href="#image-1-2"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-left"
                    class="svg-inline--fa fa-angle-double-left fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z">
                    </path>
                  </svg>
                </a>
                <a href="#image-1-4"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-right"
                    class="svg-inline--fa fa-angle-double-right fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z">
                    </path>
                  </svg>
                </a>
                <a href="#page"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="window-close"
                    class="svg-inline--fa fa-window-close fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                      fill="currentColor"
                      d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z">
                    </path>
                  </svg>
                </a>
              </div>
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/33d/b95/c48/33db95c48bafe040c3e2c93b742e87c161acc236db1f818bf8405a00b0f113ee.webp"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/storage/app/uploads/public/633/1c8/f07/6331c8f07eaa5504397691.jpg"
                  class=""
                  alt="Warteraum"
                  width="auto"
                  height="auto"
                  loading="lazy"
                />
              </picture>
              <div class="info">
                <h3>Warteraum</h3>
                <p>bei uns langweilt sich weder Gross noch Klein</p>
              </div>
            </div>
          </li>
          <li>
            <a href="#image-1-4" title="Behandlungsraum">
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/add/9af/34a/add9af34afeb6edc806b480f220f522ca819a37228a7683a5130e868d496b285.webp"
                />
                <source
                  type="image/jpg"
                  srcset="http://d4dess.test/imageresize/a42264dc4f304459d61f02782b05ea2c0f34cef8c43fe3e0a339d69e720de36e.jpg"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/imageresize/a42264dc4f304459d61f02782b05ea2c0f34cef8c43fe3e0a339d69e720de36e.jpg"
                  class=""
                  alt="Behandlungsraum"
                  width="150"
                  height="120"
                  loading="lazy"
                />
              </picture>
            </a>

            <div class="lb-overlay" id="image-1-4">
              <div class="controls">
                <a href="#image-1-3"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-left"
                    class="svg-inline--fa fa-angle-double-left fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M223.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L319.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L393.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192 34l136 136c9.4 9.4 24.6 9.4 33.9 0l22.6-22.6c9.4-9.4 9.4-24.6 0-33.9L127.9 256l96.4-96.4c9.4-9.4 9.4-24.6 0-33.9L201.7 103c-9.4-9.4-24.6-9.4-33.9 0l-136 136c-9.5 9.4-9.5 24.6-.1 34z">
                    </path>
                  </svg>
                </a>
                <a href="#image-1-1"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="angle-double-right"
                    class="svg-inline--fa fa-angle-double-right fa-w-14"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512">
                    <path
                      fill="currentColor"
                      d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z">
                    </path>
                  </svg>
                </a>
                <a href="#page"
                  ><svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="window-close"
                    class="svg-inline--fa fa-window-close fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path
                      fill="currentColor"
                      d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-83.6 290.5c4.8 4.8 4.8 12.6 0 17.4l-40.5 40.5c-4.8 4.8-12.6 4.8-17.4 0L256 313.3l-66.5 67.1c-4.8 4.8-12.6 4.8-17.4 0l-40.5-40.5c-4.8-4.8-4.8-12.6 0-17.4l67.1-66.5-67.1-66.5c-4.8-4.8-4.8-12.6 0-17.4l40.5-40.5c4.8-4.8 12.6-4.8 17.4 0l66.5 67.1 66.5-67.1c4.8-4.8 12.6-4.8 17.4 0l40.5 40.5c4.8 4.8 4.8 12.6 0 17.4L313.3 256l67.1 66.5z">
                    </path>
                  </svg>
                </a>
              </div>
              <picture>
                <source
                  type="image/webp"
                  srcset="http://d4dess.test/storage/app/media/imageresizecache/7e2/379/f02/7e2379f02d0781d1da6c79dd8c1d7d00c32da6a9a9631e5d9997ad3fd2762287.webp"
                />
                <img
                  type="image/jpg"
                  src="http://d4dess.test/storage/app/uploads/public/633/1c9/277/6331c9277a897868144414.jpg"
                  class=""
                  alt="Behandlungsraum"
                  width="auto"
                  height="auto"
                  loading="lazy"
                />
              </picture>
              <div class="info">
                <h3>Behandlungsraum</h3>
                <p>genug Platz und moderne Ausrüstung</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
