---
---

<div class="reservation">
  <div id="reservation" class="anchor"></div>
  <div class="indent-me">
    <h2>Reservieren Sie Ihren Termin</h2>

    <p>
      Natürlich können Sie sich auch telefonisch unter der Nummer 044 321 67 80
      anmelden.&nbsp;
    </p>
    <div class="medicosearch-widget">
      <div id="medicosearchWidget"></div>
      <script
        type="text/javascript"
        src="https://www.medicosearch.ch/widget/api/js?key=366e01fb-b00a-496a-a30b-cba9623eb737&version=2.0.0&container=%23medicosearchWidget&lang=de"
      ></script>
    </div>
  </div>
</div>
