---
const { title, text } = Astro.props;
---

<div class="team">
  <div id="team" class="anchor"></div>
  <section class="indent-me">
    <h2>{title}</h2>

    <p set:html={text}></p>

    <div class="team-list">
      <section class="card">
        <div class="name">
          <h3>Dr. med. Max Mustermann</h3>
          <h4>Facharzt für Allg. Innere Medizin</h4>
        </div>

        <div class="portrait">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 280px)"
              srcset="http://d4dess.test/imageresize/dcd28b0366208781b56585c47166b8b0fa1bab55779d3032409b964e344e6fa5.webp,
                                                                   http://d4dess.test/imageresize/55e2b1395407a61d9963e5c2b1ed7d89b84eb4339fa8982d7c8e59554b156312.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 280px)"
              srcset="http://d4dess.test/imageresize/70f321b34d64acb707232b799ad427fe3dffa35ac4cec3664fdfb889bbcb7cd3.jpg,
                                                                   http://d4dess.test/imageresize/d72419b5fa49ebf55447baef0ec890d4297736fed27ee6df59eebfe228758c4c.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 320px)"
              srcset="http://d4dess.test/imageresize/dcd28b0366208781b56585c47166b8b0fa1bab55779d3032409b964e344e6fa5.webp,
                                                                   http://d4dess.test/imageresize/55e2b1395407a61d9963e5c2b1ed7d89b84eb4339fa8982d7c8e59554b156312.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 320px)"
              srcset="http://d4dess.test/imageresize/70f321b34d64acb707232b799ad427fe3dffa35ac4cec3664fdfb889bbcb7cd3.jpg,
                                                                   http://d4dess.test/imageresize/d72419b5fa49ebf55447baef0ec890d4297736fed27ee6df59eebfe228758c4c.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 360px)"
              srcset="http://d4dess.test/imageresize/dcd28b0366208781b56585c47166b8b0fa1bab55779d3032409b964e344e6fa5.webp,
                                                                   http://d4dess.test/imageresize/55e2b1395407a61d9963e5c2b1ed7d89b84eb4339fa8982d7c8e59554b156312.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 360px)"
              srcset="http://d4dess.test/imageresize/70f321b34d64acb707232b799ad427fe3dffa35ac4cec3664fdfb889bbcb7cd3.jpg,
                                                                   http://d4dess.test/imageresize/d72419b5fa49ebf55447baef0ec890d4297736fed27ee6df59eebfe228758c4c.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 566px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/605/c18/8d7/605c188d7631925189a268c961b41d1c3a871a7f5b83f726075a8e58e726a323.webp,
                                                                   http://d4dess.test/storage/app/media/imageresizecache/211/f54/fe5/211f54fe586bfb55f2cfbcc8a0f6968a7c45c2d65d04591dfc4b73eb6aeda54f.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 566px)"
              srcset="http://d4dess.test/imageresize/1557a76cea0e699813e33302c77d62f72e1e5d13dedf4f8ac1f3eadaff7e6663.jpg,
                                                                   http://d4dess.test/imageresize/0304a59b55d02340e08b9035866370acb6693dc42b430c75e4f4ab6e05d58404.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/d9a/51c/e32/d9a51ce32864bc111fcd26fdc3fe1c6d1b7289f9a5897c31bd227c8243f86525.webp,
                                                                   http://d4dess.test/storage/app/media/imageresizecache/8c2/ce4/18c/8c2ce418c215a0c530d66b1640cc1f2bd85149fe1d8b99dbeb498005fa7bf8b3.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 767px)"
              srcset="http://d4dess.test/imageresize/9040fc6efe79b7add7c97e8829b77548da787de349bdf9d2fc44af2d495c7503.jpg,
                                                                   http://d4dess.test/imageresize/a87f98937ca2b43833b9d738f4078ff90d5ce41a3d13b60a9add8fe02c4b7b44.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 1024px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/961/4fb/d77/9614fbd771ae16f425d2f2e43a5e32cd754d3665d4dda77a170699f5b71452c2.webp,
                                                                   http://d4dess.test/storage/app/media/imageresizecache/df2/97d/eb3/df297deb3735a9f7f25f54592e0d5b55c4c64f4e1dfb26d19025ad512a922a02.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 1024px)"
              srcset="http://d4dess.test/imageresize/3e87d67879b91c4b2fea7e36b05803c82329c31925a1d99612ce5a0e1d25fe0c.jpg,
                                                                   http://d4dess.test/imageresize/964fcb35f4ca3257a6532efcfbe19c387f6507449f22c7c0d9e81e69e3997eab.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 3600px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/e77/102/df4/e77102df49725a72ae70f66293d780971c3f0aedc1590339954567c7deb50173.webp,
                                                                    http://d4dess.test/storage/app/media/imageresizecache/1e1/b0b/0fd/1e1b0b0fdb226d43d1c9fe8c90c9eb3a75c57141bfe0ec37a4486aca41c0cfdc.webp 2x"
            />

            <source
              type="image/jpg"
              media="(max-width: 3600px)"
              srcset="http://d4dess.test/imageresize/41105a154615a68e3a1b0db172373395bab4d3ae99ec6b3ff296d36d254bc4ab.jpg,
                                                                    http://d4dess.test/imageresize/c7c28aabfa69d365101245673ddc3f3de8f05899bb19dd256a62c569087beab9.jpg 2x"
            />

            <img
              type="image/jpg"
              src="http://d4dess.test/imageresize/4cca327c33679cc9a2bb4528fde4e3a765d6c7957a2094c6e7ebfe8a22a7c622.jpg"
              alt="Max Mustermann"
            />
          </picture>
        </div>

        <div class="desc">
          <p>
            Ärztlicher Leiter. Sprachen: Deutsch, Englisch, Französisch.
            Spezialgebiete Kindermedizin und Labortechnologie.
            Veröffentlichungsliste <a
              href="https://scholar.google.com/citations?user=KTI2dCcAAAAJ&hl=en&oi=ao"
              rel="noopener noreferrer"
              target="_blank">hier</a
            >.
          </p>
        </div>

        <div class="availability">
          <a href="#reservation">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="clock"
              class="svg-inline--fa fa-clock fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                fill="currentColor"
                d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z">
              </path>
            </svg> Mo - Fr, 13-17
          </a>
        </div>

        <div class="email">
          <script>
            user = "mustermann";
            site = "mustermann.ch";
            document.write('<a href="mailto:' + user + "@" + site + '">');
          </script>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="envelope"
            class="svg-inline--fa fa-envelope fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              fill="currentColor"
              d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
            </path>
          </svg>

          <script>
            user = "mustermann";
            site = "mustermann.ch";
            document.write(
              '<a href="mailto:' + user + "@" + site + '">E-Mail</a>'
            );
          </script>
        </div>

        <div class="booking">
          <a href="#reservation" title="Konsultation buchen">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="far"
              data-icon="calendar-check"
              class="svg-inline--fa fa-calendar-check fa-w-14"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path
                fill="currentColor"
                d="M400 64h-48V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H160V12c0-6.627-5.373-12-12-12h-40c-6.627 0-12 5.373-12 12v52H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V160h352v298a6 6 0 0 1-6 6zm-52.849-200.65L198.842 404.519c-4.705 4.667-12.303 4.637-16.971-.068l-75.091-75.699c-4.667-4.705-4.637-12.303.068-16.971l22.719-22.536c4.705-4.667 12.303-4.637 16.97.069l44.104 44.461 111.072-110.181c4.705-4.667 12.303-4.637 16.971.068l22.536 22.718c4.667 4.705 4.636 12.303-.069 16.97z">
              </path>
            </svg> anmelden
          </a>
        </div>
      </section>

      <!--

<div class="card mb-3 p-4">
    <div class="row g-0">
          <div class="col-md-8">
      <div class="card-body pt-0 pl-0 pl-md-2">
        <h3 class="card-title pt-3 pt-md-0">
                        Dr. med. Max Mustermann
        </h3>
        <p class="card-text text-muted">Facharzt für Allg. Innere Medizin</p>
        <p class="boxtext"><p><strong>Hamburg, London, Kopenhagen, Hong-Kong, Singapur und Zürich</strong> - Dr. med. Mustermann nimmt als Spezialist für interventionelle Kardiologie und Pionier der minimal-invasiven Herzklappentherapie katherbasierte Interventionen am Herzen seit mehr als 20 Jahren in bedeutenden medizinischen Zentren dieser Welt vor.&nbsp;</p></p>
        
      </div>
    </div>
  </div>
</div>
-->

      <section class="card">
        <div class="name">
          <h3>Prof. Dr. med. Mara Musterfrau</h3>
          <h4>Fachärztin Kardiologie und Angiologie</h4>
        </div>

        <div class="portrait">
          <picture>
            <source
              type="image/webp"
              media="(max-width: 280px)"
              srcset="http://d4dess.test/imageresize/ffdb09eb0aaee8e9069425ac59470c1342599a8445a207c9b575eed291a6fd11.webp,
                                                                   http://d4dess.test/imageresize/4cc5a47c0f2d7d38b77ff9692053a11bf176d5af6e4cdd076e2e20bc2b3d216b.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 280px)"
              srcset="http://d4dess.test/imageresize/59becb3ac3ec29aec912502e37f306348c25077d245817829fcfbe25c8fa89a9.jpg,
                                                                   http://d4dess.test/imageresize/623269a6f07bc85960e823eb1fa0041dc7cc474389f15d5e10cd06c6454c0c5a.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 320px)"
              srcset="http://d4dess.test/imageresize/ffdb09eb0aaee8e9069425ac59470c1342599a8445a207c9b575eed291a6fd11.webp,
                                                                   http://d4dess.test/imageresize/4cc5a47c0f2d7d38b77ff9692053a11bf176d5af6e4cdd076e2e20bc2b3d216b.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 320px)"
              srcset="http://d4dess.test/imageresize/59becb3ac3ec29aec912502e37f306348c25077d245817829fcfbe25c8fa89a9.jpg,
                                                                   http://d4dess.test/imageresize/623269a6f07bc85960e823eb1fa0041dc7cc474389f15d5e10cd06c6454c0c5a.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 360px)"
              srcset="http://d4dess.test/imageresize/ffdb09eb0aaee8e9069425ac59470c1342599a8445a207c9b575eed291a6fd11.webp,
                                                                   http://d4dess.test/imageresize/4cc5a47c0f2d7d38b77ff9692053a11bf176d5af6e4cdd076e2e20bc2b3d216b.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 360px)"
              srcset="http://d4dess.test/imageresize/59becb3ac3ec29aec912502e37f306348c25077d245817829fcfbe25c8fa89a9.jpg,
                                                                   http://d4dess.test/imageresize/623269a6f07bc85960e823eb1fa0041dc7cc474389f15d5e10cd06c6454c0c5a.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 566px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/3e7/67e/8c5/3e767e8c53550a10d511795f34273782cfe4d78fa966c39d412cc97885713395.webp,
                                                                   http://d4dess.test/storage/app/media/imageresizecache/936/d92/f4b/936d92f4b59a445161854c35988caeec7607f8d524b9bf093dbeffeda9ad5593.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 566px)"
              srcset="http://d4dess.test/imageresize/3ea562024169eb3829057a4100c8343e614ec6aa5966a41a9db2b5f86b6afa96.jpg,
                                                                   http://d4dess.test/imageresize/ee01d0a7cadfe83869da9fbc8487a386c85db36e8110b3e500cbb4310c99ffa9.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 767px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/9fa/019/e4c/9fa019e4cca567bf83e266cc32923ee2229d5276367bea74ac5d586678f74b37.webp,
                                                                   http://d4dess.test/storage/app/media/imageresizecache/829/838/ab9/829838ab9b64ae56130a593cb3bf56d13ce36a032d85c2f631bc43d91e0a78f7.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 767px)"
              srcset="http://d4dess.test/imageresize/9806077071faf3d28619a7e381fdfdc99ae7d2b18064e16d3f9b8e6ae3a80b31.jpg,
                                                                   http://d4dess.test/imageresize/99950605ca0bb1ded9ec9e23fca540d93f1628a587abdcac2b471733c1f5c633.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 1024px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/e75/25c/6a5/e7525c6a560c05cff6fe1f32f4638ac9693c834df77ca1a691514b8d61066ea5.webp,
                                                                   http://d4dess.test/storage/app/media/imageresizecache/fc8/ae3/b12/fc8ae3b12c6e66c8fc5ab07685b9b43be3081548d7251d27302dd380ae20a595.webp 2x"
            />
            <source
              type="image/jpg"
              media="(max-width: 1024px)"
              srcset="http://d4dess.test/imageresize/4398375edbcf1131874883bbdb21aa14b814d9197aad876c95273efe012001fb.jpg,
                                                                   http://d4dess.test/imageresize/7b8eaa7b7f936dfecac88a214ad2b7386faaf5e492081fec472162bbe2c706bc.jpg 2x"
            />

            <source
              type="image/webp"
              media="(max-width: 3600px)"
              srcset="http://d4dess.test/storage/app/media/imageresizecache/362/f50/991/362f50991e5e6ba4636c23fcbd3412cfc7b90d8a3079e16d3d1728dfb2a7ca45.webp,
                                                                    http://d4dess.test/storage/app/media/imageresizecache/90d/71b/86e/90d71b86e65172ce974ea97d99ffbf25781bcdf7b5fa2d20206418512162898c.webp 2x"
            />

            <source
              type="image/jpg"
              media="(max-width: 3600px)"
              srcset="http://d4dess.test/imageresize/5841ab844b26a8bdc387085368ebc9ecd79e5f0a563d60cbe9b61495117f316a.jpg,
                                                                    http://d4dess.test/imageresize/b9a9d916ab088c03e05d690f5196c1389b3da5437678d8805488403a88235ac9.jpg 2x"
            />

            <img
              type="image/jpg"
              src="http://d4dess.test/imageresize/0aa50d77f1aa13014929fe0c466ceb5d55520ca6d5308e5501e8cb7bbe0d2362.jpg"
              alt="Mara Musterfrau"
            />
          </picture>
        </div>

        <div class="desc">
          <p>
            Sprachen: deutsch, Englisch, Spanisch. Spezialgebiet Generika und
            Polypharmazie.
          </p>
        </div>

        <div class="availability">
          <a href="#reservation">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="clock"
              class="svg-inline--fa fa-clock fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                fill="currentColor"
                d="M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z">
              </path>
            </svg> Do 12-13
          </a>
        </div>

        <div class="email">
          <script>
            user = "mara";
            site = "gmail.com";
            document.write('<a href="mailto:' + user + "@" + site + '">');
          </script>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="envelope"
            class="svg-inline--fa fa-envelope fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path
              fill="currentColor"
              d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
            </path>
          </svg>

          <script>
            user = "mara";
            site = "gmail.com";
            document.write(
              '<a href="mailto:' + user + "@" + site + '">E-Mail</a>'
            );
          </script>
        </div>

        <div class="phone">
          <a href="tel:077 567 89 10" title="077 567 89 10">
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="phone-alt"
              class="svg-inline--fa fa-phone-alt fa-w-16"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path
                fill="currentColor"
                d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z">
              </path>
            </svg> 077 567 89 10
          </a>
        </div>
      </section>

      <!--

<div class="card mb-3 p-4">
    <div class="row g-0">
          <div class="col-md-8">
      <div class="card-body pt-0 pl-0 pl-md-2">
        <h3 class="card-title pt-3 pt-md-0">
                        Prof. Dr. med. Mara Musterfrau
        </h3>
        <p class="card-text text-muted">Fachärztin Kardiologie und Angiologie</p>
        <p class="boxtext"><p>Irgenein text hier</p></p>
        
      </div>
    </div>
  </div>
</div>
-->
    </div>
  </section>
</div>
