---
---

<input id="menu-toggle" type="checkbox" />
<label class="menu-button-container" for="menu-toggle">
  <div class="menu-button"></div>
</label>

<ul class="menu">
  <li>
    <a title="Team" class="" href="#team" onclick="hideMenu()"> Team</a>
  </li>
  <li>
    <a title="Praxis" class="" href="#practice" onclick="hideMenu()"> Praxis</a>
  </li>
  <li>
    <a title="Termin" class="" href="#reservation" onclick="hideMenu()">
      Termin
    </a>
  </li>
  <li>
    <a title="Anreise" class="" href="#arrival" onclick="hideMenu()">
      Anreise
    </a>
  </li>
</ul>
